{{ form_start(form) }}


{{ form_row(form.voyage) }}
<div id="infos_voyage">
    {{ form_row(form.DateDepart) }}
    {{ form_row(form.LieuDepart) }}
    {{ form_row(form.Destination) }}
    {{ form_row(form.NbrePlace) }}
    {{ form_row(form.PlaceDisponible) }}

</div>
{{ form_row(form.VilleDepart) }}
    {{ form_row(form.VilleArrivee) }}
{{ form_row(form.Prix) }}

{{ form_row(form.passagers) }}

{{ form_row(form.StatusPayement) }}

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
