<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/><!-- /Added by HTTrack -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OuiBus Adjib - Accueil</title>
    <meta name="title" Content="OuiBus Adjib - Accueil">
    <meta name="description"
          content="Réservez vos tickets sur OUIBUS en ligne et en toute sécurite">
    <meta name="keywords" content="OuiBus Adjib,Réservation en ligne,Bus reservation enligne,achat tickets en ligne">

    <link rel="shortcut icon" type="image/x-icon" href="assets/images/logoIcon/favicon.png">


    <link rel="apple-touch-icon" href="assets/images/logoIcon/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="OuiBus Adjib - Accueil">

    <meta itemprop="name" content="OuiBus Adjib - Accueil">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="assets/images/seo/6210e34d4726e1645273933.png">


    <meta property="og:title" content="OuiBus - Adjib">
    <meta property="og:image" content="assets/images/seo/6210e34d4726e1645273933.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="315"/>


    <meta name="twitter:card" content="summary_large_image">

    <!-- BootStrap Link -->
    <link rel="stylesheet" href="{{ asset('front/assets/templates/basic/css/bootstrap.min.css') }}">
    <!-- Icon Link -->
    <link rel="stylesheet" href="{{ asset('front/assets/global/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/global/css/line-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/templates/basic/css/flaticon.css') }}">

    <!-- Plugings Link -->
    <link rel="stylesheet" href="{{ asset('front/assets/templates/basic/css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/global/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/templates/basic/css/jquery-ui.css') }}">

    <!-- Cookie Link -->
    <link rel="stylesheet" href="{{ asset('front/assets/templates/basic/css/cookie.css') }}">
    <!-- Custom Link -->
    <link rel="stylesheet" href="{{ asset('front/assets/templates/basic/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/templates/basic/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/templates/basic/css/colorf972.css') }}">


    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}


</head>
<body>
<div class="header-top">
    <div class="container">
        <div class="header-top-area">
            <ul class="left-content">
                <li>
                    <i class="las la-phone"></i>
                    <a href="tel:+44 45678908">
                        +44 45678908
                    </a>
                </li>
                <li>
                    <i class="las la-envelope-open"></i> ouibus@gmail.com

                </li>
            </ul>
            <div class="right-content d-flex flex-wrap" style="gap:10px">

                <ul class="header-login">
                    {# <li><a class="sign-in" href="#"><i class="fas fa-sign-in-alt"></i>S'inscrire</a></li> #}
                    <li>/</li>
                    <li><a class="sign-up" href="#"><i class="fas fa-user-plus"></i>Se connecter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header-bottom">
    <div class="container">
        <div class="header-bottom-area">
            <div class="logo">
                <a href="https://script.viserlab.com/viserbus">
                    <img src="assets/images/logoIcon/logo.png" alt="Logo">
                </a>
            </div> <!-- Logo End -->
            <ul class="menu">
                <li>
                    <a href="#">Accueil</a>
                </li>

                 <li>
                    <a href="#">Imprimer le ticket</a>
                </li>

                 <li>
                    <a href="#">Annuler le ticket</a>
                </li>


                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <div class="d-flex flex-wrap algin-items-center">
                <a href="#" class="cmn--btn btn--sm">Acheter un ticket</a>
                <div class="header-trigger-wrapper d-flex d-lg-none ms-4">
                    <div class="header-trigger d-block d-lg-none">
                        <span></span>
                    </div>
                    <div class="top-bar-trigger">
                        <i class="las la-ellipsis-v"></i>
                    </div>
                </div><!-- Trigger End-->
            </div>
        </div>
    </div>
</div>
{% block body %}{% endblock %}

<!-- Footer Section Starts Here -->
<section class="footer-seciton">
    <div class="footer-top">
        <div class="container">
            <div class="row footer-wrapper gy-sm-5 gy-4">
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <div class="logo">
                            <img src="assets/images/logoIcon/logo_2.png" alt="Logo">
                        </div>
                        <p>Delectus culpa laboriosam debitis saepe. Commodi earum minus ut obcaecati veniam deserunt
                            est!</p>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.facebook.com/"><i class="lab la-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/?lang=en"><i class="lab la-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://vimeo.com/log_in"><i class="lab la-vimeo"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/?hl=en"><i class="lab la-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="widget-title">Useful Links</h4>
                        <ul class="footer-links">
                            <li>
                                <a href="about-us.html">About</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQs</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="widget-title">Policies</h4>
                        <ul class="footer-links">
                            <li>
                                <a href="policy/69/privacy-policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="policy/71/terms-and-conditions.html">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="policy/90/ticket-policies.html">Ticket Policies</a>
                            </li>
                            <li>
                                <a href="policy/102/refund-policy.html">Refund Policy</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="widget-title">Contact Info</h4>
                        <ul class="footer-contacts">
                            <li>
                                <i class="las la-map-pin"></i> Bengla Road Suite Dhaka 1209
                            </li>
                            <li>
                                <i class="las la-phone-volume"></i> <a href="tel:+44 45678908"> +44 45678908</a>
                            </li>
                            {# <li>
                                <i class="las la-envelope"></i> <a
                                        href="https://script.viserlab.com/cdn-cgi/l/email-protection#37524f565a475b5277505a565e5b1954585a">
                                    <span class="__cf_email__" data-cfemail="22475a434f524e4762454f434b4e0c414d4f">[email&#160;protected]</span></a>
                            </li> #}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Section Ends Here -->
<a href="javascript::void()" class="scrollToTop active"><i class="las la-chevron-up"></i></a>

<script src="{{ asset('front/assets/global/js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('front/assets/templates/basic/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('front/assets/templates/basic/js/slick.min.js') }}"></script>
<script src="{{ asset('front/assets/global/js/select2.min.js') }}"></script>
<script src="{{ asset('front/assets/templates/basic/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('front/assets/templates/basic/js/main.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
