{% extends 'base_admin.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>
                            <a href="{{ path('voyages_lignes_new') }}" class="btn btn-sm btn-info"
                               title="List"><i class="fa fa-list"></i> Ajouter</a>
                            {#                            <?php if($fleet_type->id): ?>#}
                            {#                            <a href="<?php echo base_url('fleet/fleet_type/form') ?>" class="btn btn-sm btn-info"#}
                            {#                               title="Add"><i class="fa fa-plus"></i> <?php echo display('add') ?></a>#}
                            {#                            <?php endif; ?>#}
                        </h4>
                    </div>
                </div>
                <div class="panel-body">

                    <table class="datatable table table-bordered table-hover">
                        <thead>
                        <tr>

                            <th>Ligne</th>
                            <th>Status</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ligne in lignes %}
                            <tr>

                                <td>{{ ligne.NomLigne }}</td>
                                <td>{{ ligne.Status ? 'Active' : 'Inactives' }}</td>
                                <td>
                                    {{ include('admin/voyage/lignes/_delete_form.html.twig') }}
                                    <a href="{{ path('voyages_lignes_edit', {'id': ligne.id}) }}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="left" title="Update"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                                    {#                                    <a href="{{ path('voyages_lignes_show', {'id': ligne.id}) }}">show</a>#}
                                    {#                                    <a href="{{ path('voyages_lignes_edit', {'id': ligne.id}) }}">edit</a>#}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="datatable table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>ligne</th>
                            <th>Ville de départ</th>
                            <th>Ville d'arrivée</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for escale in escales %}
                            <tr>
                                <td>{{ escale.id }}</td>
                                <td>{{ escale.NomEscale }}</td>
                                <td>
                                    <a href="{{ path('voyages_escales_show', {'id': escale.id}) }}">show</a>
                                    <a href="{{ path('voyages_escales_edit', {'id': escale.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>



    <a href="{{ path('voyages_escales_new') }}">Create new</a>
{% endblock %}
